/* 
google fonts 
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,600,700,900");
/* 
sass vars 
*/
/* 
remove all padding and margins 
*/
/* line 15, ../sass/app.scss */
* {
  padding: 0px;
  margin: 0px;
}

/* 
text 
*/
/* line 23, ../sass/app.scss */
h1, .path-faq .region-content .views-row .views-field-field-question > div {
  font-family: raleway;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
}

/* line 32, ../sass/app.scss */
h2, .path-frontpage .region-content .view-row-wrapper .views-row .views-field-field-service-name > div {
  font-family: "raleway";
  font-size: 1,5em;
  text-align: center;
  text-transform: uppercase;
  color: #22d0b2;
}

/* line 40, ../sass/app.scss */
p, .path-faq .region-content .views-row .views-field-field-answer > div, label, .path-contact .region-content #edit-name, .path-contact .region-content #edit-mail {
  font-family: "open sans";
  font-size: 14pt;
}

/* line 45, ../sass/app.scss */
a {
  text-decoration: none;
}

/* 
region Header 
*/
/* line 52, ../sass/app.scss */
.region-header {
  display: table;
  width: 100%;
}
/* line 57, ../sass/app.scss */
.region-header .menu--account .menu {
  background-color: #22d0b2;
  margin-left: 0;
  display: block;
  text-align: right;
  width: 100%;
}
/* line 64, ../sass/app.scss */
.region-header .menu--account .menu li {
  display: inline-block;
  padding: 12px 20px;
}
/* line 68, ../sass/app.scss */
.region-header .menu--account .menu li a {
  color: #161616;
}
/* line 75, ../sass/app.scss */
.region-header ul.menu {
  margin-left: 0;
}
/* line 79, ../sass/app.scss */
.region-header .menu--main {
  color: white;
  text-transform: uppercase;
  background-color: #161616;
  width: calc(100% - 90px);
  float: right;
}
/* line 86, ../sass/app.scss */
.region-header .menu--main li {
  list-style-type: none;
  font-family: raleway;
  font-weight: 700;
  display: inline-block;
  margin: 15px 50px;
  padding: 15px 0px;
  font-size: 14px;
}
/* line 95, ../sass/app.scss */
.region-header .menu--main li a {
  color: white;
}
/* line 99, ../sass/app.scss */
.region-header .menu--main li:hover {
  border-bottom: 2px solid #22d0b2;
  margin-bottom: 13px;
}
/* line 106, ../sass/app.scss */
.region-header #block-beelectric-branding {
  width: 90px;
  float: right;
  background-color: #161616;
}
/* line 111, ../sass/app.scss */
.region-header #block-beelectric-branding img {
  width: 50px;
  height: 50px;
  margin: 11px 20px;
}

/* header */
/* line 120, ../sass/app.scss */
.header-name {
  background-color: #22d0b2;
}

/* line 124, ../sass/app.scss */
.header-name h1, .header-name .path-faq .region-content .views-row .views-field-field-question > div, .path-faq .region-content .views-row .header-name .views-field-field-question > div {
  text-align: center;
  padding: 30px 0px 15px 0px;
}

/* line 129, ../sass/app.scss */
.header-name p, .header-name .path-faq .region-content .views-row .views-field-field-answer > div, .path-faq .region-content .views-row .header-name .views-field-field-answer > div {
  text-align: center;
  padding-bottom: 25px;
}

/*
region Content
*/
/* line 139, ../sass/app.scss */
.path-frontpage .region-content .view-row-wrapper {
  width: 50%;
  min-height: 400px;
  float: left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 150px;
}
/* line 151, ../sass/app.scss */
.path-frontpage .region-content .view-row-wrapper .views-row .views-field-field-service-logo svg {
  display: block;
  margin: auto;
  padding: 20px;
  font-size: 35px;
  color: #22d0b2;
}
/* line 160, ../sass/app.scss */
.path-frontpage .region-content .view-row-wrapper .views-row .views-field-field-service-name > div {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 169, ../sass/app.scss */
.path-frontpage .region-content .view-row-wrapper:nth-child(2), .path-frontpage .region-content .view-row-wrapper:nth-child(3) {
  background-color: #22d0b2;
}
/* line 172, ../sass/app.scss */
.path-frontpage .region-content .view-row-wrapper:nth-child(2) h2, .path-frontpage .region-content .view-row-wrapper:nth-child(2) .views-row .views-field-field-service-name > div, .path-frontpage .region-content .view-row-wrapper:nth-child(3) h2, .path-frontpage .region-content .view-row-wrapper:nth-child(3) .views-row .views-field-field-service-name > div {
  color: #161616;
}
/* line 176, ../sass/app.scss */
.path-frontpage .region-content .view-row-wrapper:nth-child(2) svg, .path-frontpage .region-content .view-row-wrapper:nth-child(3) svg {
  color: #161616 !important;
}

/* line 185, ../sass/app.scss */
.path-faq .region-content {
  width: 960px;
  margin: 50px auto;
  padding: 50px;
  display: block;
  background-color: white;
  box-sizing: border-box;
}
/* line 193, ../sass/app.scss */
.path-faq .region-content #block-beelectric-page-title {
  display: none;
}
/* line 197, ../sass/app.scss */
.path-faq .region-content .views-row {
  box-sizing: border-box;
  padding: 20px 0px;
}
/* line 202, ../sass/app.scss */
.path-faq .region-content .views-row .views-field-field-question > div {
  color: #22d0b2;
  font-size: 22px;
  margin-bottom: 10px;
}

/* line 222, ../sass/app.scss */
.path-contact .region-content .page-title {
  display: none;
}
/* line 226, ../sass/app.scss */
.path-contact .region-content #edit-name, .path-contact .region-content #edit-mail {
  font-weight: bold;
}
/* line 231, ../sass/app.scss */
.path-contact .region-content #edit-name label, .path-contact .region-content #edit-name #edit-name, .path-contact .region-content #edit-name #edit-mail, .path-contact .region-content #edit-mail label, .path-contact .region-content #edit-mail #edit-name, .path-contact .region-content #edit-mail #edit-mail {
  font-weight: normal;
}
/* line 236, ../sass/app.scss */
.path-contact .region-content #edit-preview {
  display: none;
}

/* line 243, ../sass/app.scss */
.path-node div {
  font-family: "raleway";
}
/* line 246, ../sass/app.scss */
.path-node .layout-content {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}
/* line 251, ../sass/app.scss */
.path-node .layout-content h1, .path-node .layout-content .path-faq .region-content .views-row .views-field-field-question > div, .path-faq .region-content .views-row .path-node .layout-content .views-field-field-question > div {
  color: #22d0b2;
  margin-bottom: 40px;
}
/* line 256, ../sass/app.scss */
.path-node .layout-content .block-local-tasks-block nav {
  padding-bottom: 20px;
}
/* line 258, ../sass/app.scss */
.path-node .layout-content .block-local-tasks-block nav h2, .path-node .layout-content .block-local-tasks-block nav .path-frontpage .region-content .view-row-wrapper .views-row .views-field-field-service-name > div, .path-frontpage .region-content .view-row-wrapper .views-row .path-node .layout-content .block-local-tasks-block nav .views-field-field-service-name > div {
  display: none;
}
/* line 261, ../sass/app.scss */
.path-node .layout-content .block-local-tasks-block nav ul > li {
  background-color: #22d0b2;
  border-radius: 10px;
}
/* line 264, ../sass/app.scss */
.path-node .layout-content .block-local-tasks-block nav ul > li a {
  padding: 10px;
}
/* line 273, ../sass/app.scss */
.path-node .node__content > div {
  padding-bottom: 20px;
}

/* 
container 
*/
/* line 282, ../sass/app.scss */
.content {
  width: 960px;
  margin: auto;
  padding: 50px 0px;
  display: inline-block;
}

/* line 289, ../sass/app.scss */
.maincontent {
  width: 1100px;
  margin: auto;
  background-color: #ffffff;
}

/* line 295, ../sass/app.scss */
.innerContent {
  box-sizing: border-box;
  margin: 50px 0px;
  padding: 50px;
}

/* 
content home 
*/
/* line 304, ../sass/app.scss */
body {
  background-color: #f6f6f7;
}

/* 
Index 
*/
/* line 311, ../sass/app.scss */
.home__img {
  width: 100%;
  height: calc(100vh - 208px);
}

/* line 316, ../sass/app.scss */
.TextBlock h4 {
  color: #22d0b2;
}

/* 
Contact 
*/
/* line 323, ../sass/app.scss */
.contact-wrapper {
  display: flex;
}

/* line 327, ../sass/app.scss */
.innerContent h1, .innerContent .path-faq .region-content .views-row .views-field-field-question > div, .path-faq .region-content .views-row .innerContent .views-field-field-question > div {
  color: #161616;
}

/* line 331, ../sass/app.scss */
.left, .right {
  box-sizing: border-box;
  padding: 15px;
}

/* line 336, ../sass/app.scss */
.left {
  width: 50%;
  float: left;
}

/* line 341, ../sass/app.scss */
.right {
  width: 50%;
  float: left;
}

/* line 346, ../sass/app.scss */
.headContDiv {
  margin-bottom: 30px;
}

/* line 350, ../sass/app.scss */
.contNumb {
  font-family: "raleway";
  font-weight: 700;
  font-size: 3em;
  float: left;
  padding-right: 20px;
}

/* line 358, ../sass/app.scss */
.contNumb + H1 {
  font-size: 18pt;
  font-weight: 300;
}

/* line 363, ../sass/app.scss */
.socials {
  margin-top: 30px;
}

/* line 367, ../sass/app.scss */
.social {
  margin: 15px 0px;
}

/* line 371, ../sass/app.scss */
.iconS {
  float: left;
  width: 50px;
}

/* line 376, ../sass/app.scss */
input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-family: "open sans";
  font-size: 14px;
  margin-bottom: 14px;
  border: 2px solid #151515;
}

/* line 386, ../sass/app.scss */
input[type="submit"] {
  background-color: #151515;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
}

/* line 394, ../sass/app.scss */
input[type="checkbox"] {
  margin-top: 10px;
  width: 30px;
}

/* line 399, ../sass/app.scss */
.map {
  display: inline-block;
  width: 100%;
}

/* line 404, ../sass/app.scss */
.gmap {
  background-color: brown;
  height: 400px;
}

/* 
footer 
*/
/* line 412, ../sass/app.scss */
.BE_footer {
  width: 100%;
  display: inline-block;
  background-color: #161616;
}

/* line 418, ../sass/app.scss */
footer p, footer .path-faq .region-content .views-row .views-field-field-answer > div, .path-faq .region-content .views-row footer .views-field-field-answer > div {
  text-align: center;
  padding: 30px;
  color: white;
}

/*
media querries
*/
@media only screen and (max-width: 960px) {
  /* line 429, ../sass/app.scss */
  .path-frontpage .region-content .view-row-wrapper {
    width: 100%;
  }

  /* line 434, ../sass/app.scss */
  .path-faq .region-content {
    width: 94%;
  }
}
@media only screen and (max-width: 1100px) {
  /* line 441, ../sass/app.scss */
  .maincontent {
    width: 94%;
  }

  /* line 445, ../sass/app.scss */
  .contact-wrapper {
    display: block;
  }

  /* line 449, ../sass/app.scss */
  .left, .right {
    width: 100%;
  }

  /* line 453, ../sass/app.scss */
  .left, .right, .map {
    margin-bottom: 40px;
  }
}
