<div class="layout-container">
  {{ page.header }}

  <div class="container">
    <div class="maincontent">
      <div class="innerContent">
        <div class="contact-wrapper">
          <div class="left">
            <div class="headContDiv">
              <span class="contNumb">O1/</span>
              <h1>Get in
                <br> touch</h1>
            </div>
            <p>We zijn op vele verschillende manieren te bereiken en we zijn actief op heel wat social media platformen. Neem
              zeker eens een kijkje en volg ons!</p>
            <div class="socials">
              <div class="social">
                <p>
                  <span class="iconS">
                    <i class="fas fa-phone iconS"></i>
                  </span>09 366 12 34</p>
              </div>
              <div class="social">
                <p>
                  <span class="iconS">
                    <i class="fab fa-telegram-plane iconS"></i>
                  </span>Info@beelectric.be</p>
              </div>
              <div class="social">
                <p>
                  <span class="iconS">
                    <i class="fab fa-twitter iconS"></i>
                  </span>@Beelectric</p>
              </div>
              <div class="social">
                <p>
                  <span class="iconS">
                    <i class="fab fa-facebook-f iconS"></i>
                  </span>Beelectric facebook</p>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="headContDiv">
              <span class="contNumb">O2/</span>
              <h1>Send us
                <br> a message</h1>
            </div>
            {{ page.content }}
          </div>
        </div>

        <div class="map">
          <div class="headContDiv">
            <span class="contNumb">O3/</span>
            <h1>Drop in,
              <br> say hi</h1>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.914535611414!2d3.7195962519147985!3d51.05466585142332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c37146d0a0e319%3A0x310194ae6d926f07!2sKorenmarkt%2C+9000+Gent!5e0!3m2!1sen!2sbe!4v1516123406642"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="BE_footer">
    <p>
      <i class="fas fa-copyright"></i> Beelectric</p>
  </footer>

</div>{# /.layout-container #}